* {
  font-family: 'Roboto', sans-serif;
}

/* FORM */

.form {
  width: 85%;
  background: rgb(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

form h1{
  margin-top: 0;
  font-weight: 100;

  font-size: 1.5rem;
}

form h2 {
  font-weight: 50;

  font-size: 1rem;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.txtb input, .txtb textarea {
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

/* BUTTONS */

.button-div {
  display: flex;
  justify-content: space-between;
}

.button {
  background: #66D3FA;
  padding: 1% 3%;
  color: #fff;
  margin-top: 8px;
  border-radius: 8px;
  border: #66D3FA;
  text-decoration: none;
  box-shadow: 0 0 10px #808080;
  text-align: left;
  cursor: pointer;
}


.submit-btn-text {
  font-weight: 700;
  font-size: 150%;
  
}

.btn-text {
 font-weight: 700;
 font-size: 150%;
}

.btn-subtext {
  font-size: 100%;
}


/* AGREEMENT PAGE */
.agreement-div h1 {
  margin-top: 0;
  font-weight: 100;
  font-size: 1.5rem;
}

.agreement-div h2 {
  font-weight: 600;
  font-size: 1rem;
}

.signature-pads {
  display: flex;
}

.signature-pad {
  display: block;
  border: black;
  border-width: 1px;
}

.signature-pad p {
  font-style: italic;
}

.agreement-btns {
  margin-top: 1%;
}



/* HEALTH PAGE */
.comments {
  margin-top: 1%;
}


/* CLIENTS PAGE */
.clients-div h1{
  margin-top: 0;
  font-weight: 100;
  font-size: 1.5rem;
}

.clients-div-btn {
  cursor: pointer;
  margin-bottom: 1%;
  background-color: #fff;
  padding: 0;
  border: none;
  font-size: 1rem;
}



/* MODAL */
.modal-container {
  width: 80%;
  background: rgb(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  position: relative;
  margin: auto;
  margin-bottom: 5%;
}

.modal-title h2{
  margin-top: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn button {
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.5% 1%;
  cursor: pointer;
}

