* {
  font-family: 'Roboto', sans-serif;
}

.sign-out-btn {
  margin-bottom: 0.6%;
}

.loading-div {
  text-align: center;
  margin-top: 50%;

}

/* LOGIN */ 
.login-logo {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5%;
  color: #1b4079;
}

.login-logo span {
  font-weight: 500;
  font-size: 2.6rem;
}


.login-page {
  width: 80%;
  background: rgb(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;

}
.login-page h1{
  margin-top: 0;
  font-weight: 100;
  font-size: 1.5rem;
  text-align: center;
}

.login-page-btns {
 
  display: block;
  width: 80%;
  padding: 1% 3%;
  font-size: 20px;
  border-radius: 8px ;
  text-decoration: none;
  box-shadow: 0 0 10px #808080;
  text-align: center;
  cursor: pointer;
  margin: 0 auto
}

.login-btn {
  margin-top: 5%;
  background:#1b4079;
  color: #fff;
}

.error-div {
  display: flex;
  justify-content: center;
}

.error {
  text-align: center;
  background-color: tomato;
  color: #fff;
  border-radius: 8px;
  padding: 6px 12px;
  font-weight: bold;
  width: 30%;
}

.register-btn {
  margin-top: 5%;
  color:#1b4079;
  box-shadow: none;
  border-color:0.5px #1b4079;
  background: #fff;
}

.forgot-btn {
  margin-top: 5%;
  border: none;
  background: #fff;
  color:#1b4079;
  box-shadow: none;
  font-weight: 500;
}

.forgot-btn:hover {
  color: #66D3FA;
}

/* FORM */

.form {
  width: 85%;
  background: rgb(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

form h1{
  margin-top: 0;
  font-weight: 100;
  font-size: 1.5rem;
}

form h2 {
  font-weight: 50;

  font-size: 1rem;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
  font-style: normal;
}



.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}


.txtb input, .txtb textarea {
  border: none;
  background: none;
  outline: none;
  font-size: 1.125rem;
  margin-top: 6px;
}

/* BUTTONS */

.button-div {
  display: flex;
  justify-content: space-between;
}

.button {
  background:#1b4079;
  padding: 1% 3%;
  color: #fff;
  margin-top: 8px;
  border-radius: 8px;
  border: #66D3FA;
  text-decoration: none;
  box-shadow: 0 0 10px #808080;
  text-align: left;
  cursor: pointer;
}

@media screen and (max-width: 479px) {

  .button {
    font-size: 0.6rem;
    /* box-shadow: 0 0 3px #808080; */
  }
}


.submit-btn-text {
  font-weight: 700;
  font-size: 150%;
  
}

.btn-text {
 font-weight: 700;
 font-size: 150%;
}

.btn-subtext {
  font-size: 100%;
}

.clients-div-btn {
  /* color: black; */
  color: #333;
  text-transform: uppercase;
}

.clients-div-btn:focus {
  color:#66D3FA;
}


/* AGREEMENT PAGE */
.agreement-div h1 {
  margin-top: 0;
  font-weight: 100;
  font-size: 1.5rem;
}

.agreement-div h2 {
  font-weight: 600;
  font-size: 1rem;
}

.signature-pads {
  display: flex;
  justify-content: space-evenly;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

/* @media screen and (max-width: 1210px) {
  .first-canvas {

  }
} */

.signature-pad {
  display: block;
  border: 0.1rem solid #1b4079;;
  border-radius: 8px;
  padding: 3px;
}



.agreement-btns {
  margin-top: 1%;
}

.health-check-div {
  font-style: italic;
}



/* HEALTH PAGE */
.comments {
  margin-top: 1%;
}


/* CLIENTS PAGE */
.clients-div h2{
  /* margin-top: 0;
  font-weight: 500;
  font-size: 1.5rem; */
  margin-top: 0;
  font-weight: 100;
  font-size: 1.5rem;
}

.clients-div-btn {
  cursor: pointer;
  /* margin-bottom: 1%; */
  background-color: #fff;
  /* padding: 0; */
  border: none;
  font-size: 1rem;

}

/* MODAL */
.modal-container {
  width: 80%;
  background: rgb(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  position: relative;
  margin: auto;
  margin-bottom: 5%;
  font-size: 0.9rem;
}

.modal-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 0.5%;
  font-size: 1.2rem;
  /* text-align: center; */
}



.modal-grid h2 {
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;

}

.modal-grid p {
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}

.modal-title h2{
  text-align: center;
  margin-top: 0;
  font-weight: 400;
  font-size: 1.2rem;
  color: #333;
  text-transform: uppercase;
}

.client-info-div {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.2rem;
  margin-bottom: 3%;
}

.client-info-div p {
  margin-top: 0;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn button {
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.5% 1%;
  cursor: pointer;
}

.new-measurement-txtb {
  width: 40%;
  margin-left: 27%;
}

.new-measurement-txtb ::placeholder {
  font-size: 1rem;
  text-align:start;

}

.update-btn {
  /* width: 40%; */
  height: 80%;
  background:#1b4079;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
}

.screenshot-btn-div {
  margin-top: 5%;
}

.screenshot-btn {
  font-size: 150%;
}

.single-btn-div {
  display: flex;
  justify-content: flex-end;
}

.centre-txt {
  text-align: center;
}

.right-txt {
  text-align: end;
}





