* {
  font-family: 'Roboto', sans-serif;
}

/* FORM */

.form {
  width: 85%;
  background: rgb(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

form h1{
  margin-top: 0;
  font-weight: 100;

  font-size: 1.5rem;
}

form h2 {
  font-weight: 50;

  font-size: 1rem;
}

.txtb {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.txtb label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}


.txtb input, .txtb textarea {
  border: none;
  background: none;
  outline: none;
  font-size: 1.125rem;
  margin-top: 6px;
}

/* BUTTONS */

.button-div {
  display: flex;
  justify-content: space-between;
}

.button {
  background:#1b4079;
  padding: 1% 3%;
  color: #fff;
  margin-top: 8px;
  border-radius: 8px;
  border: #66D3FA;
  text-decoration: none;
  box-shadow: 0 0 10px #808080;
  text-align: left;
  cursor: pointer;
}

@media screen and (max-width: 479px) {

  .button {
    font-size: 0.6rem;
    /* box-shadow: 0 0 3px #808080; */
  }
}


.submit-btn-text {
  font-weight: 700;
  font-size: 150%;
  
}

.btn-text {
 font-weight: 700;
 font-size: 150%;
}

.btn-subtext {
  font-size: 100%;
}


/* AGREEMENT PAGE */
.agreement-div h1 {
  margin-top: 0;
  font-weight: 100;
  font-size: 1.5rem;
}

.agreement-div h2 {
  font-weight: 600;
  font-size: 1rem;
}

.signature-pads {
  display: flex;
  justify-content: space-evenly;
  font-style: italic;
}

@media screen and (max-width: 1210px) {
  .first-canvas {
    margin-right: 60px;
  }
}

.signature-pad {
  display: block;
  border: 0.2rem solid #1b4079;;
}



.agreement-btns {
  margin-top: 1%;
}



/* HEALTH PAGE */
.comments {
  margin-top: 1%;
}


/* CLIENTS PAGE */
.clients-div h2{
  margin-top: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.clients-div-btn {
  cursor: pointer;
  /* margin-bottom: 1%; */
  background-color: #fff;
  /* padding: 0; */
  border: none;
  font-size: 1.2rem;
}

/* MODAL */
.modal-container {
  width: 80%;
  background: rgb(255, 255, 255, 0.9);
  padding: 50px 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px #000000b3;
  position: relative;
  margin: auto;
  margin-bottom: 5%;
  font-size: 0.9rem;
}

.modal-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 0.5%;
  font-size: 1.2rem;
  /* text-align: center; */
}

.modal-grid h3 {
  font-weight: 400;
  font-size: 100%;
}

.modal-grid p {
  font-size: 90%;
}

.modal-title h2{
  margin-top: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
}

.close-btn button {
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 0.5% 1%;
  cursor: pointer;
}

.new-measurement-txtb {
  width: 40%;
  margin-left: 27%;
}

.new-measurement-txtb ::placeholder {
  font-size: 1rem;
  text-align:start;

}

.update-btn {
  /* width: 40%; */
  height: 80%;
  background:#1b4079;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
}

.screenshot-btn-div {
  margin-top: 5%;
}

.screenshot-btn {
  font-size: 150%;
}

.single-btn-div {
  display: flex;
  justify-content: flex-end;
}

.centre-txt {
  text-align: center;
}





